@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  /* Clear Day */
  --bg-gradient-start: rgb(92, 189, 254);
  --bg-gradient-end: rgb(102, 153, 211);

  /* FOG */
  /* --bg-gradient-start: rgb(127, 161, 184);
  --bg-gradient-end: rgb(85, 110, 128); */
}

html {
  background-color: var(--bg-gradient-end);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  color: #fff;
}

p {
  margin: 0;
}

.content-background-container {
  position: fixed;
  top: 0;
}

.content-background-gradient {
  background: linear-gradient(
    to bottom,
    var(--bg-gradient-start) 0%,
    var(--bg-gradient-end) 90%
  );
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.hero-image {
  mask-image: linear-gradient(to bottom, #ffffff, #ffffff30, #00000000);
  -webkit-mask-image: linear-gradient(to bottom, #ffffff, #ffffff30, #00000000);
  filter: saturate(0.8);
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  user-select: none;
  -webkit-user-select: none;
  position: absolute;
}

.home-bottom-bar {
  position: fixed;
  bottom: 0;
  width: calc(100vw - 3rem);
  height: 4rem;
  background-color: var(--bg-gradient-end);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px #00000008 solid;
  padding-inline: 1.5rem;
}

.home-bottom-bar > * {
  height: fit-content;
}

.home-bottom-bar > * > svg {
  height: 2rem;
  width: 2rem;
}

.home-bottom-bar > button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.inner-content {
  position: relative;
  max-width: 640px;
  margin-inline: auto;
  padding-inline: 1rem;
  height: 200vh;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.hero-container p {
  text-shadow: #00000050 1px 1px 10px;
}

.hero-row1-city {
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.8;
}

.hero-temp {
  font-size: clamp(5rem, 25vw, 8rem);
  font-weight: 300;
  margin: -1.25rem;
}

.hero-condition {
  font-size: 1.25rem;
  margin-block: 0.25rem;
  font-weight: 600;
}

.hero-last-row {
  font-size: 1.25rem;
  font-weight: 500;
}

.days-container {
  display: flex;
  gap: 0.75rem;
  width: fit-content;
  width: calc(100vw - 2rem);
  max-width: 640px;
  overflow-x: scroll;
  padding-bottom: 0.5rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.days-container::-webkit-scrollbar {
  display: none;
}

.days-card {
  flex: 1 1 0;
  width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  backdrop-filter: blur(15px) saturate(120%) brightness(90%);
  -webkit-backdrop-filter: blur(5px) saturate(120%) brightness(90%);
  padding: 1rem;
  border-radius: 10px;
  min-width: 7rem;
  border: rgba(255, 255, 255, 0.15) 1px solid;
}

.days-card-day {
  font-weight: 700;
}

.days-avg-temp {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 0;
}

.days-card svg {
  height: 2rem;
  width: 2rem;
}

.days-temp-range {
  display: flex;
  font-size: 0.85rem;
  gap: 0.125rem;
}

.days-temp-range > p {
  font-weight: 600;
}

@supports (-webkit-backdrop-filter: blur(5px)) {
  .days-temp-range > p {
    -webkit-mask: linear-gradient(#000 0 0) text;
    mask: linear-gradient(#000 0 0) text;
    -webkit-backdrop-filter: contrast(150%) brightness(120%);
    backdrop-filter: contrast(150%) brightness(120%);
    color: rgba(255, 255, 255, 0.65);
  }
}
