@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  /* Clear Day */
  --bg-gradient-start: rgb(92, 189, 254);
  --bg-gradient-end: rgb(102, 153, 211);

  /* FOG */
  /* --bg-gradient-start: rgb(127, 161, 184);
  --bg-gradient-end: rgb(85, 110, 128); */
}

html {
  background-color: var(--bg-gradient-end);
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  color: #fff;
}

.content-background-container {
  position: fixed;
  top: 0;
}

.content-background-gradient {
  background: linear-gradient(
    to bottom,
    var(--bg-gradient-start) 0%,
    var(--bg-gradient-end) 90%
  );
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.hero-image {
  mask-image: linear-gradient(to bottom, #ffffff, #ffffff30, #00000000);
  mask-repeat: no-repeat;
  filter: saturate(0.8);
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  user-select: none;
  -webkit-user-select: none;
  position: absolute;
}

.home-bottom-bar {
  position: fixed;
  bottom: 0;
  width: calc(100vw - 3rem);
  height: 4rem;
  background-color: var(--bg-gradient-end);

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px #00000008 solid;
  padding-inline: 1.5rem;
}

.home-bottom-bar > * {
  height: fit-content;
}

.home-bottom-bar > * > svg {
  height: 2rem;
  width: 2rem;
}

.home-bottom-bar > button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.inner-content {
  position: relative;
}
