@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --bg-gradient-start: #000000;
  --bg-gradient-end: #7f7f7f;
}

html {
  background-color: var(--bg-gradient-end);
  transition: background-color 500ms ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  color: #fff;
}

p {
  margin: 0;
}

.content-background-container {
  position: fixed;
  top: 0;
}

.content-background-gradient {
  background: linear-gradient(
    to bottom,
    var(--bg-gradient-start) 0%,
    var(--bg-gradient-end) 90%
  );
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.hero-image {
  mask-image: linear-gradient(to bottom, #ffffff, #ffffff30, #00000000);
  -webkit-mask-image: linear-gradient(to bottom, #ffffff, #ffffff30, #00000000);
  filter: saturate(0.8);
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  user-select: none;
  -webkit-user-select: none;
  position: absolute;
}

.home-bottom-bar {
  position: fixed;
  bottom: 0;
  width: calc(100vw - 3rem);
  height: 4rem;
  background-color: var(--bg-gradient-end);
  transition: background-color 500ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px #00000008 solid;
  padding-inline: 1.5rem;
}

.home-bottom-bar > * {
  height: fit-content;
}

.home-bottom-bar > * > svg {
  height: 2rem;
  width: 2rem;
}

.home-bottom-bar > button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.inner-content {
  position: relative;
  max-width: 640px;
  margin-inline: auto;
  padding-inline: 1rem;
  margin-bottom: 5rem;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.hero-container p {
  text-shadow: #00000050 1px 1px 10px;
}

.hero-row1-city {
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.8;
}

.hero-temp {
  font-size: clamp(5rem, 25vw, 8rem);
  font-weight: 300;
  margin: -1.25rem;
}

.hero-condition {
  font-size: 1.25rem;
  margin-block: 0.25rem;
  font-weight: 600;
}

.hero-last-row {
  font-size: 1.25rem;
  font-weight: 500;
}

.days-container {
  display: flex;
  gap: 0.75rem;
  width: fit-content;
  width: calc(100vw - 2rem);
  max-width: 640px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.days-container::-webkit-scrollbar {
  display: none;
}

.days-card {
  flex: 1 1 0;
  width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  backdrop-filter: blur(15px) saturate(120%) brightness(90%);
  -webkit-backdrop-filter: blur(5px) saturate(120%) brightness(90%);
  padding: 1rem;
  border-radius: 15px;
  min-width: 7rem;
  border: rgba(255, 255, 255, 0.15) 1px solid;
}

.days-card-day {
  font-weight: 700;
}

.days-avg-temp {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 0;
}

.days-card svg {
  height: 2em;
  width: 2em;
}

.days-temp-range {
  display: flex;
  font-size: 0.85em;
  gap: 0.125em;
}

.days-temp-range > p {
  font-weight: 600;
}

@supports (-webkit-backdrop-filter: blur(5px)) {
  .days-temp-range > p,
  .grid-card-title,
  .source-container {
    -webkit-mask: linear-gradient(#000 0 0) text;
    mask: linear-gradient(#000 0 0) text;
    -webkit-backdrop-filter: contrast(180%) brightness(120%);
    backdrop-filter: contrast(180%) brightness(120%);
    color: rgba(255, 255, 255, 0.65);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-block: 1rem;
}

.grid-item-card {
  aspect-ratio: 1/1;
  backdrop-filter: blur(15px) saturate(120%) brightness(90%);
  -webkit-backdrop-filter: blur(5px) saturate(120%) brightness(90%);
  border: rgba(255, 255, 255, 0.15) 1px solid;
  padding: 1rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.grid-card-title {
  font-weight: 700;
  font-size: 0.85rem;
  margin-top: -0.25rem;
}

.grid-card-data {
  font-size: 2rem;
  margin-block: auto;
  text-shadow: #0000002b 1px 1px 10px;
}

.source-container {
  font-size: 1.125rem;
}

.source-container > a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.overlay-container {
  background: #1b1b1b00;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 750ms cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.overlay-close-button {
  padding: 0.5rem;
  border-radius: 1000px;
  background-color: #ffffff30;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.overlay-close-button:hover {
  background-color: #ffffff60;
}

.searchbar-config,
.searchbar-search {
  width: calc(100% - 4.5rem);
  max-width: calc(640px - 2rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-input-config,
.search-input-search {
  flex-grow: 1;
  padding: 0 1rem;
  height: 3.25rem;
  font-size: 1.125rem;
  border-radius: 10px;
  outline: none;
  border: 1px #ffffff30 solid;
  background-color: #2a2a2a;
  color: #fff;
}

.search-input-config:focus,
.search-input-search:focus {
  border-color: #0064ff;
}

.search-button-config,
.search-button-search {
  padding-inline: 2rem;
  height: 3.25rem;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  background-color: #0064ff;
  color: #fff;
  border: #ffffff00 1px solid;
  cursor: pointer;
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.search-button-config:hover,
.search-button-search:hover {
  border: #4791ff 1px solid;
}

.loading-search,
.loading-config {
  height: 0;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  background-color: #4c4c4c;
  color: #fff !important;
  font-size: 1rem !important;
  border-radius: 100px;
  transition: all 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.info-search {
  font-size: 0.85rem;
  color: #4c4c4c;
  text-align: justify;
  width: calc(100% - 4.5rem);
  max-width: calc(640px - 2rem);
}

.stop-scroll {
  height: 100%;
  overflow-x: hidden;
  position: fixed;
}

.units-selector-settings {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #141414;
  border: #ffffff30 1px solid;
  padding: 1rem 2rem;
  margin-inline: 1rem;
  border-radius: 15px;
  width: calc(100% - 6.5rem);
  max-width: calc(640px - 4rem);
}

.units-selector-settings > p {
  font-weight: 700;
  font-size: 1.25rem;
}

.selector-units-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  height: 3.75rem;
  padding-inline: 1.5rem;
  border-radius: 1000px;
  border: #0064ff 2px solid;
  position: relative;
  cursor: pointer;
  margin-inline: auto;
}

.selector-units-settings > p {
  z-index: 10;
  width: 5rem;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
}

.side-units-settings {
  position: absolute;
  background-color: #0064ff;
  height: 3.25rem;
  border-radius: 1000px;
}

.container-about {
  max-width: calc(640px - 4rem);
  margin-inline: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #141414;
  border: #ffffff30 1px solid;
  padding: 1rem 2rem;
  border-radius: 15px;
}

.container-about > h1 {
  margin-block: 0;
  font-size: 1.25rem;
  cursor: pointer;
  text-decoration: underline;
}

.text-wrapper-about {
  display: grid;
  grid-template-rows: 0fr;
  width: 0;
  transition: all 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.about-open .text-wrapper-about {
  grid-template-rows: 1fr;
  width: 100%;
  margin-top: 1rem;
}

.container-about > .text-wrapper-about > p {
  color: #7f7f7f;
  text-align: justify;
  overflow: hidden;
}

.container-about > .text-wrapper-about > p > a {
  color: #0064ff;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

.container-config {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #050505;
  z-index: 100;
  overflow-y: scroll;
  transition: opacity 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.inner-content-config {
  max-width: calc(640px - 2rem);
  width: calc(100% - 2rem);
  height: 100vh;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.inner-content-config > p {
  color: #4c4c4c;
  font-size: 0.85rem;
  text-align: justify;
}

.current-button-config {
  background-color: #0064ff;
  padding-inline: 2rem 2.5rem;
  height: 3rem;
  width: 100%;
  border-radius: 10px;
  border: transparent 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #fff;
  font-weight: 600;
  font-size: 1.125rem;
  cursor: pointer;
}

.current-button-config:hover {
  border-color: #4791ff;
}


.searchbar-config {
  width: 100%;
}

@media only screen and (min-width: 500px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .days-card {
    font-size: 1.125rem;
    aspect-ratio: 1/1;
  }
  .searchbar-config,
  .searchbar-search {
    flex-direction: row;
  }
  .units-selector-settings {
    flex-direction: row;
    align-items: center;
    gap: 1.75rem;
  }
}
